{% extends 'base.html.twig' %}

{% block title %} Aricle: {{ article.title }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    {#{{ parent() }}#}
    {% for message in app.flashes('article_update') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <div style="border: thin solid deepskyblue" class="example-wrapper">
        <legend><h1> Article: {{ article.title }}✅</h1></legend>
        <h2><a href="{{ path('article_index') }}">Article Index</a></h2>
        {% dump(app.request.get('_route')) %}
        <h3>{{ article.content }}</h3>
        <h4><a href="{{ path('category', {'id' : article.category.id}) }}">Category: {{ article.category.id }}</a></h4>
        <h5>Created At: {{ article.createdAt.date }}</h5>
        <h6><a href="{{ getArticleUrlById(article.id) }}">getArticleUrlById Article internal ID: {{ article.id }}</a>
            </h6>

    </div>

    <div style="border: thin solid deepskyblue" class="example-wrapper code">
        <legend>Comments</legend>

        <ul>
            {% for comment in article.comments %}
                <li>{{ comment.content }}
                    <p><i>by</i> {{ comment.author }} <i>on</i> {{ comment.createdAt | date('d-m-y h:i') }}</p>
                </li>
            {% endfor %}
        </ul>
        <form action="{{ path('comment', {'article' : article.id}) }}">
            <textarea name="content" cols=50 placeholder="Type your comment here"></textarea>
            <br/>
            <button>Submit Comment</button>
        </form>
    </div>
{% endblock %}

