{% extends 'base.html.twig' %}

{% block title %} Articles {% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    {#Parent Start#}
    {#{{ parent() }}#}
    {#Parent Finish#}
    {% block content %}
        <h4><a href="/admin">SONATA ADMIN</a> | <a href="{{ path('article_index') }}">CRUD - Articles Index</a></h4>
        <div class="example-wrapper">
            <h2> Articles & comments ✅</h2>
            {% dump(articles) %}
            <ul>
                {% for article in articles %}
                    <li><h5><a href="{{ path('article', {'id' : article.id}) }}"> {{ article.title }} </a></h5></li>
                    <ul>
                        {% for comment in article.comments %}
                            <li>
                                <h6>{{ comment.content ~ ' (by ' ~ comment.author ~ ' on ' ~ comment.createdAt | date('d-m-y') ~ ')' }}</h6>
                            </li>
                        {% else %}
                            <h6>--- no comments yet ---</h6>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
            <a href="{{ path('categories') }}">Categories</a>
        </div>
    {% endblock %}
{% endblock %}
